<!DOCTYPE HTML>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>가인지캠퍼스</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="header_info">
           <img src="img/info_logo.png">
           <div class="login">
              <a class="login_off">로그인</a>
              <a class="login_off">회원가입</a>
           </div>
        </div>
        <div class="nav">
           <div class="class_nav" style="position: absolute; right:0; top: 0">
              <ui class="class_ul">
                 <li class="class_li">
                    클래스
                 </li>
                 <li class="class_li">
                    게시판
                 </li>
              </ui>
           </div>
        <div>
    </div>
    <div class="video_detail" style="margin-top:100px;">
        <div class="video_play">
            <iframe id="player" type="text/html" width="800" height="450"
  				src="https://www.youtube-nocookie.com/embed/wfJGvXewHAI?rel=0&modestbranding=1&showinfo=0"
                  frameborder="0" allowFullScreen="allowFullScreen" webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
            <h2>영상제목입니다.</h2>
            <p>영상자세한 정보입니다.</p>
        </div>
        <div class="video_comment">
            <h2>댓글</h2>
            <div class="comment_detail">
                <h4>김아무개</h4>
                <p>정말 테스트중입니다.</p>
            </div>
            <textarea style="resize:none; width:100% ;height:80px; margin-left:0px; text-align: center; "></textarea>
        </div>
    </div>
    
</body>
</html>
    