    <div class="header">
        <div class="header_info">
           <img src="img/info_logo.png">
           <div class="login">
              <a class="login_off">로그인</a>
              <a class="login_off">회원가입</a>
           </div>
        </div>
        <div class="nav">
           <div class="class_nav" style="position: absolute; right:0; top: 0">
              <ui class="class_ul">
                 <li class="class_li">
                    클래스
                 </li>
                 <li class="class_li">
                    게시판
                 </li>
              </ui>
           </div>
        <div>
    </div>