<!DOCTYPE HTML>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>가인지캠퍼스</title>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="header_info">
           <img src="img/info_logo.png">
           <div class="login">
              <a class="login_off">로그인</a>
              <a class="login_off">회원가입</a>
           </div>
        </div>
        <div class="nav">
           <div class="class_nav" style="position: absolute; right:0; top: 0">
              <ui class="class_ul">
                 <li class="class_li">
                    클래스
                 </li>
                 <li class="class_li">
                    게시판
                 </li>
              </ui>
           </div>
        <div>
    </div>
    
    <div class="class_public">
        <!-- <div class="notice_kerin">
            <h2>공지사항 &nbsp;</h2> <h3>가인지캠퍼스 환영인사.</h3>
        </div>
        <div class="notice_detail_kerin">
            <p>가인지캠퍼스에 오신 것을 환영합니다.</p>
        </div> -->
        <div class="public">
            <h2>퍼블릭 카테고리입니다.</h2>
            <ul class="pubilc_ul">
                <li class="public_li">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="company_youtube">
        <h2>사내유튜브입니다.</h2>
        <div class="public">
            <ul class="pubilc_ul2">
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
            </ul>
            <ul class="pubilc_ul2">
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
            </ul>
            <ul class="pubilc_ul2">
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
            </ul>
            <ul class="pubilc_ul2">
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
                <li class="public_li2">
                    <div class="class_detail">
                        <img src="img/1.jpg" class="img_detail2">
                        <h2>제목입니다.</h2>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>